# Formal Verification
- École Polytechnique Fédérale de Lausanne. Kuncak Viktor.
[:earth_americas:](https://edu.epfl.ch/coursebook/en/formal-verification-CS-550)
[:film_strip:](https://tube.switch.ch/channels/f2d4e01d)
[:octocat:](https://gitlab.epfl.ch/lara/cs550/)